body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
.user-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px;
  border-bottom: 1px solid #eee;
}

header p {
  margin: 0;
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

#loginButton {
  width: 80px;
  padding: 9px;
  background-color: #eef4ff;
  color: #4b20d8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
}

.user-row button {
  padding: 8px 18px;
  background-color: #4b20d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
h1 {
  text-align: center;
  font-size: 24px;
}

.username {
  margin-top: 20px;
}

.search-box {
  text-align: center;
  margin: 20px 0;
}

.search-box input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 10px 20px;
  margin-left: 5px;
  background-color: #4b20d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  padding: 10px;
  background-color: white;
}

.card h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.card p {
  font-size: 13px;
  margin: 8px 0;
}
